<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>your cart</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{home :: navbar}"></div>
<h1>Your cart</h1>


<ul>
    <li th:each="cartItem : ${cartItems}">
        <span th:text="${cartItem.getId()} + ' - ' + ${cartItem.getName()} + ' - ' + ${cartItem.getStock()}"></span>
        <a th:href="@{/delete(id=${cartItem.getId()})}">Delete item from cart</a>

    </li>
</ul>



</body>
</html>